html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*BACKGROUND*/
.background {
    background: linear-gradient(-45deg, #f08d6f, #fa82b0, #72d0f1, #63f1d0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite, glitter 2s infinite;
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes glitter {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }
}

/*HEADER*/
header {
    float: left;
    width: 100%;
}

header ul {
    width: fit-content;
}

.header-container {
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.navbar {
    float: center;
    width: 100%;
    padding: 10px;
    background: #fabada;
    font-weight: 100;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.menuelements {
    font-size: 50px;
    font-weight: 600;
    padding: 10px 20px;
}


.menuelements:hover {
    text-decoration: underline;
    transform: scaleX(1);
    font-style: italic;
    text-transform: uppercase;
    text-decoration-color: #0dfc5c;
}

a {
    text-decoration: none;
    text-align: center;
}

main {
    float: left;
    width: 100%;
}

#header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

/*PROFILE PICTURE*/
.profilepic {
    display: flex;
    height: 500px;
    border-radius: 50%;
    margin: auto;
    border-style: dotted;
    border-color: rgb(231, 253, 32);
    border-width: 1em;
    animation: opacityChange 1s infinite alternate, flip 3s infinite ease-in-out;
}

@keyframes opacityChange {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.10;
    }
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


.image {
    width: 80%;
    border-radius: 50%;
    margin: 10%;
    animation-name: animacionImagen;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/*TEXT*/
.porfile-title {
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(45deg, #940469, #c56321);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
    }

    100% {
        text-shadow: 0 0 20px rgba(255, 102, 0, 1);
    }
}

.textformat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
}

#contenedor>article {
    width: 40%;
    padding: 1em;
}

@media (max-width: 768px) {
    #contenedor>article {
        width: 100%;
    }
}

.colortext {
    animation-duration: 3s;
    animation-name: slidein;
    font-size: 30px;
    background: linear-gradient(#070018, #150355, #241981, #4a60db, #3fbef0, #2a2a72);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.audio {
    text-align: center;
    animation: glow 2s infinite alternate;
}

/*CONTACT FORM*/
#contact-section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background: #8cd1e5;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    height: auto;
    padding: 2em;
}

label {
    font-weight: bold;
    font-size: 1.5rem;
    color: #120174;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input,
select,
button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    width: 100%;
}

button {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2f32f7;
    color: rgb(255, 253, 253);
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 1s ease;
    border: none;
    padding: 12px;
    border-radius: 8px;
}

button:hover {
    background-color: #fa1085;
    font-style: italic;
}

button:focus {
    outline: none;
}

input:focus,
select:focus {
    border-color: #3498db;
    outline: none;
}

input::placeholder {
    color: #f87fee;
}

@media (max-width: 768px) {
    #contact-section {
        padding: 1rem;
    }

    input,
    select,
    button {
        font-size: 1rem;
    }
}

.newsletter-input *,
.team-input * {
    display: inline-block !important;
}

#contact-form label {
    margin-top: 0.5rem;
}

/*RANGE*/
input[type="range"] {
    width: 150px;
    height: 10px;
    -webkit-appearance: none;
    background: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 150px;
    border-radius: 50%;
    background: #3498db;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background: #01000a;
}

.mood-range-container {
    position: relative;
    width: 150px;
}

.mood-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 2rem;
    color: #333;
    padding-bottom: 1em;
    width: 100%;
}

.mood-label {
    display: inline-block;
    width: 100%;
    text-align: center;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 100px;
        -webkit-appearance: none;
        background-color: #ff0000;
        margin: auto;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #5b04fc;
        box-shadow: -80px 0 0 80px #0dfc5c;
        display: flex;
    }

}*/

/*PROJECTS*/
.project-image {
    width: 2px;
    height: 2px;
    position: relative;
    animation: move 3s infinite;
    opacity: 3s;
}

@keyframes move {
    0% {
        top: 0px;
    }

    25% {
        top: 25px;
    }

    75% {
        top: 50px
    }

    100% {
        top: 75px;
    }
}

.project-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: darkred;
}

.project-link {
    width: 50%;
    margin: auto;
    display: block;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
    text-align: center;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #fabada;
    animation: gradient;
    margin: 10px;

}

.project iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 16/9;
}

/* Adaptación móviles */
@media (max-width: 768px) {
    .project {
        width: 100%;
        margin: 10px 0;
    }
}

/*FOOTER*/
footer {
    float: left;
    width: 100%;
    background: #fabada;
    margin: auto;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

footer ul {
    width: fit-content;
}

.footer-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link {
    font-size: 40px;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: flip 3s infinite ease-in-out, glow 2s infinite alternate;
}

.footer-link:hover {
    transform: scale(1.2);
    color: #0dfc5c;
}

.footer-link a {
    text-decoration: none;
    color: inherit;
}